<h1 class="text-center text-light">The Rial news</h1>
<div style="text-align: center;">
    <%= image_tag('persona.png', alt: 'noticias', class: 'mr-2', style: 'width: 200px; height: 200px;') %>
</div>
<p class="text-center estilo">Comenta nuevas noticias o opina sobre ellas! </p>
