body {
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h5,h2{
    font-family: 'Indie Flower', cursive;
}

.estilo{
    font-family: 'Dancing Script';
    color:white;
}

h2{
    color:white; 
}
.navbar {
    margin-bottom: 20px;
}
